// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
// Formadmin - Modern and responsive theme for Active Admin used by Formaweb.



//------------//
//   Colors   //
//------------//

$blue:   #005fb2 !default;
$green:  #04844b !default;
$red:    #a61a14 !default;
$yellow: #ffb75d !default;

//--- Gray Scale ---//
$white:  #ffffff !default;
$silver: #cccccc !default;
$gray:   #3f3f3f !default;
$black:  #000000 !default;

//--- Emotive ---//
$positive-color: $green !default;
$negative-color: $red !default;
$info-color:     $blue !default;
$warning-color: $yellow !default;


//--- Theme ---//
$primary-color: #1577e6 !default;
$secondary-color: $silver !default;

//--- Page ---//
$background-color: #eeeeee !default;
$text-color:       $gray !default;

//--- Highlighting ---//
$highlight-background: rgba($primary-color, 0.5) !default;
$highlight-color: $white !default;

$font-size: 11px !default;

@import 'formadmin/formadmin';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
